/*
 * The syntax dark mode styles.
 */

@mixin dark-syntax {
  --highlight-bg-color: #252525;
  --highlighter-rouge-color: #de6b18;
  --highlight-lineno-color: #6c6c6d;
  --inline-code-bg: #272822;
  --code-header-text-color: #6a6a6a;
  --code-header-muted-color: rgb(60, 60, 60);
  --code-header-icon-color: rgb(86, 86, 86);
  --clipboard-checked-color: #2bcc2b;
  --filepath-text-color: #bdbdbd;

  /* override Bootstrap */
  pre {
    color: #bfbfbf;
  }

  .highlight .gp {
    color: #818c96;
  }

  /* syntax highlight colors from https://raw.githubusercontent.com/jwarby/pygments-css/master/monokai.css */
   /*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
   .prettyprint {
    background: #252525;
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    border: 0 !important;
  }

  .pln {
    color: #e6e9ed;
  }

  /* Specify class=linenums on a pre to get line numbering */
  ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #656d78;
  }

  li.L0,
  li.L1,
  li.L2,
  li.L3,
  li.L4,
  li.L5,
  li.L6,
  li.L7,
  li.L8,
  li.L9 {
    background-color: #252525;
    list-style-type: decimal;
  }

  @media screen {

    /* string content */

    .str {
      color: #ffce54;
    }

    /* keyword */

    .kwd {
      color: #4fc1e9;
      font-weight: bold;
    }

    /* comment */

    .com {
      color: #656d78;
    }

    /* type name */

    .typ {
      color: #4fc1e9;
      font-weight: bold;
    }

    /* literal value */

    .lit {
      color: #ac92ec;
    }

    /* punctuation */

    .pun {
      color: #e6e9ed;
    }

    /* lisp open bracket */

    .opn {
      color: #e6e9ed;
      font-weight: bold;
    }

    /* lisp close bracket */

    .clo {
      color: #e6e9ed;
      font-weight: bold;
    }

    /* markup tag name */

    .tag {
      color: #ed5565;
    }

    /* markup attribute name */

    .atn {
      color: #a0d468;
    }

    /* markup attribute value */

    .atv {
      color: #ffce54;
    }

    /* declaration */

    .dec {
      color: #ac92ec;
    }

    /* variable name */

    .var {
      color: #e6e9ed;
    }

    /* function name */

    .fun {
      color: #e6e9ed;
    }
  }
}
